@import url(/assets/CSS/root.css);
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--wood_smoke);
    padding: .5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(14, 14, 29, 0.1) 0px 24px 80px;
}
div.logo > p{
    color: white;
    font-size: 20px;
    font-family: "RalewayBlack";
    display: block;
    margin: 0;
}
ul.navbar{
    display: flex;
    gap: 3.5rem;
    padding: 0;
} 
.navbar img{
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.5s ease; 
}
.navbar img:hover{
    transform: scale(1.4);
}